* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.staff-container {
  position: relative;
}
.staff-container .staff-sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  color: white;
}
.staff-container .staff-sidebar .staff-sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(11, 150, 188, 0.8509803922);
}
.staff-container .staff-sidebar .staff-sidebar-title .house-icon {
  padding-right: 8px;
}
.staff-container .staff-sidebar-content {
  height: 100%;
  background-color: #2c2f39;
}
.staff-container .staff-sidebar-content .sidebar-content-list ul {
  list-style-type: none;
  padding: 0;
}
.staff-container .staff-sidebar-content .sidebar-content-list ul .active {
  background-color: #6c6c6c;
}
.staff-container .staff-sidebar-content .sidebar-content-list ul li {
  height: 70px;
  padding-left: 20px;
  border-bottom: 1px solid rgb(165, 165, 165);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.staff-container .staff-sidebar-content .sidebar-content-list ul li:hover {
  background-color: #6c6c6c;
}
.staff-container .staff-sidebar-content .sidebar-content-list ul li i {
  width: 30px;
  font-size: 20px;
}

.staff-sidebar-header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  padding-right: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #0b96bc;
  color: white;
  z-index: 1;
}
.staff-sidebar-header .staff-sidebar-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.list-room {
  display: none;
}

.list-room.active {
  display: block;
}

.staff-content-container {
  position: absolute;
  margin-top: 60px;
  right: 0;
  width: calc(100% - 250px);
}
.staff-content-container .title {
  color: #000000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 40px;
  margin-left: 12px;
  align-items: center;
}
.staff-content-container .staff-content {
  background-color: white;
  margin: 4px 12px 0 16px;
  padding: 12px 0;
  border-radius: 8px;
}
.staff-content-container .staff-content .add-room {
  display: flex;
  justify-content: flex-end;
}
.staff-content-container .staff-content .btn-add-room {
  border: none;
  background-color: #0a96b4;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 12px;
}
.staff-content-container .staff-content .rooms {
  margin: 12px 0;
}
.staff-content-container .staff-content .rooms table,
.staff-content-container .staff-content .rooms th,
.staff-content-container .staff-content .rooms td {
  border: 1px solid rgb(197, 197, 197);
}
.staff-content-container .staff-content .rooms table {
  border-collapse: collapse;
}
.staff-content-container .staff-content .rooms td,
.staff-content-container .staff-content .rooms th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 12px 8px;
}
.staff-content-container .staff-content .rooms .room:hover {
  background-color: #edeced;
}
.staff-content-container .staff-content .rooms .room-image {
  width: 150x;
  height: 150px;
  border-radius: 4px;
}
.staff-content-container .staff-content .rooms ul {
  list-style: none;
}
.staff-content-container .staff-content .rooms ul li {
  padding: 3px 0;
}
.staff-content-container .staff-content .rooms .btn-edit-room {
  width: 30px;
  height: 30px;
  background-color: #0076ff;
  color: white;
  border: none;
  border-radius: 4px;
}
.staff-content-container .staff-content .rooms .btn-edit-room:hover {
  cursor: pointer;
  opacity: 0.8;
}
.staff-content-container .staff-content .rooms .btn-delete-room {
  width: 30px;
  height: 30px;
  background-color: #d13d3c;
  color: white;
  border: none;
  border-radius: 4px;
}
.staff-content-container .staff-content .rooms .btn-delete-room:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile {
  display: none;
}

.profile.active {
  display: block;
}

.staff-content-container .staff-profile {
  margin: 8px 50px;
}
.staff-content-container .staff-profile .profile-input {
  display: flex;
  align-items: center;
  margin: 8px 0 16px 0;
}
.staff-content-container .staff-profile .profile-input i {
  font-size: 24px;
  width: 50px;
}
.staff-content-container .staff-profile .profile-input .form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}
.staff-content-container .staff-profile label {
  font-weight: 600;
}

.list-book-room {
  display: none;
}
.list-book-room .search {
  margin: 12px 0;
}
.list-book-room .search input {
  margin: 16px 12px 0 16px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  width: 400px;
  border-radius: 3px;
}
.list-book-room .search .btn-search {
  width: 120px;
  height: 42px;
  background-color: #1f9448;
  border: none;
  border-radius: 4px;
  color: white;
}

.list-book-room.active {
  display: block;
}

.staff-content-container .staff-content .rooms .book-room ul {
  padding: 0 10px;
  margin: 8px 0;
}
.staff-content-container .staff-content .rooms .book-room ul span {
  font-weight: 700;
  padding-right: 4px;
}
.staff-content-container .staff-content .rooms .book-room:hover {
  background-color: #edeced;
}

.edit-room-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.edit-room-container.active {
  display: flex;
}
.edit-room-container .edit-room-modal {
  width: 50%;
  height: 68%;
  background-color: white;
  color: black;
  padding: 4px 20px;
  border-radius: 4px;
  position: relative;
  animation: fadeIn ease 0.5s;
}
.edit-room-container .edit-room-modal .icon-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  font-size: 24px;
}
.edit-room-container .edit-room-modal .icon-close:hover {
  cursor: pointer;
  opacity: 0.5;
}
.edit-room-container .edit-room-modal .title {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
}
.edit-room-container .edit-room-modal .content input,
.edit-room-container .edit-room-modal .content textarea {
  width: 100%;
  padding: 5px 14px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  margin: 4px 0 8px 0;
}
.edit-room-container .edit-room-modal .content label {
  font-weight: 500;
}
.edit-room-container .edit-room-modal .content .btn-submit {
  margin-top: 12px;
  padding: 8px 20px;
}

.add-room-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.add-room-container.active {
  display: flex;
}
.add-room-container .add-room-modal {
  width: 50%;
  height: 73%;
  background-color: white;
  color: black;
  padding: 4px 20px;
  border-radius: 4px;
  position: relative;
  animation: fadeIn ease 0.5s;
}
.add-room-container .add-room-modal .icon-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  font-size: 24px;
}
.add-room-container .add-room-modal .icon-close:hover {
  cursor: pointer;
  opacity: 0.5;
}
.add-room-container .add-room-modal .title {
  text-align: center;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 600;
}
.add-room-container .add-room-modal .content input,
.add-room-container .add-room-modal .content textarea {
  width: 100%;
  padding: 5px 14px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  margin: 4px 0 8px 0;
}
.add-room-container .add-room-modal .content label {
  font-weight: 500;
}
.add-room-container .add-room-modal .content .btn-submit {
  margin-top: 12px;
  padding: 8px 20px;
}

.edit-book-room-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.edit-book-room-container.active {
  display: flex;
}
.edit-book-room-container .edit-book-room-modal {
  width: 50%;
  height: 75%;
  background-color: white;
  color: black;
  padding: 4px 20px;
  border-radius: 4px;
  position: relative;
  animation: fadeIn ease 0.5s;
}
.edit-book-room-container .edit-book-room-modal .icon-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  font-size: 24px;
}
.edit-book-room-container .edit-book-room-modal .icon-close:hover {
  cursor: pointer;
  opacity: 0.5;
}
.edit-book-room-container .edit-book-room-modal .title {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
}
.edit-book-room-container .edit-book-room-modal .content input {
  width: 100%;
  padding: 6px 14px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  margin: 4px 0 8px 0;
}
.edit-book-room-container .edit-book-room-modal .content label {
  font-weight: 500;
}
.edit-book-room-container .edit-book-room-modal .content .btn-submit {
  margin-top: 14px;
  padding: 8px 20px;
}

@keyframes fadeIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=staff.css.map */